<%- include partials/header -%>


<h1>Home</h1>
<p><%=homeContent%></p>
<% collection.forEach(function(collectionItem) {%>
  <h1><%= collectionItem.title%></h1>
  <p><%= collectionItem.content.substring(0,100)%> ... <a href="/posts/<%= collectionItem.title%>">Read More!</a></p>
<%});%>


<%- include partials/footer -%>
