<%- include partials/header -%>

<div class="center">
  <h1>Home</h1>
  <p><%=homeContent%></p>
</div>

<% collection.forEach(function(collectionItem) {%>
  <h1><%= collectionItem.title%></h1>
  <p class="post-snippet"><%= collectionItem.content.substring(0,100)%> ... <a href="/posts/<%= collectionItem.title%>">Read More!</a></p>
<%});%>


<%- include partials/footer -%>
