
<%- include partials/header -%>

<h2><%= collection.title%></h2>


<br>
<br>

<form class="item" action="/update" method="post">
  <input type="text" class="form-control hidden" name="postTitle" value="<%= collection.title%>">
  <label for="postBody">Post</label>
  <textarea class="form-control" rows="5" name="postBody"><%= collection.content%></textarea>
  <br>
  <input type="submit" class="btn btn-primary" value="Update">
</form>



<%- include partials/footer -%>
